<div class="container">
    <div class="row">
        <div class="col">
            <form class="translucent-black p-4 m-1" action="/add" method="post">
                <div class="form-group row">
                    <label for="burger" class="col-4"><b>Type in the name of a burger to add:</b></label>
                    <input type="text" class="form-control col-8" name="name" rows="3"></input>
                </div>
                <div class="form-group row">
                    <div class="col-10"></div>
                    <button type="submit" class="btn btn-warning col-2">Add a Burger</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-between p-2">
        <div class="col-5 text-center translucent-black m-2 p-3">
            <h2>Un-devoured Burgers</h2>
            <ul class="list-group">
            {{#each burgers}}
                {{#unless deleted}}
                  {{#unless devoured}}
                    <li class="list-group-item"><i class="fas fa-hamburger"></i>{{name}}
                    <button class="btn btn-dark btn-sm float-right delete text-center" data-id="{{id}}"><i class="fas fa-times"></i></button>
                    <button class="btn btn-warning btn-sm float-right devour-burger" data-id="{{id}}">Devour</button></li>
                    </li>
                  {{/unless}}  
                {{/unless}}
            {{/each}}
            </ul>
        </div>

        <div class="col-5 text-center translucent-black m-2 p-3">
            <h2>Devoured Burgers</h2>
            <ulclass="list-group">
            {{#each burgers}}
              {{#unless deleted}}
                {{#if devoured}}
                    <li class="list-group-item"><i class="fas fa-hamburger"></i>{{name}}
                    <button class="btn btn-dark btn-sm float-right delete text-center" data-id="{{id}}"><i class="fas fa-times"></i></button>
                    </li>
                {{/if}}
              {{/unless}}
            {{/each}}
            </ul>
        </div>
    </div>
</div>

<script>
    $(".devour-burger").on('click', function() {
        const burgerID = $(this).attr("data-id")
        const queryURL = "/update"
        console.log(burgerID)
        $.ajax({
            type: 'POST',
            url: queryURL, 
            data: { id: burgerID },
        }).then(response => {
            location.reload()
        })
    });

    $(".delete").on('click', function() {
        const burgerID = $(this).attr("data-id")
        const queryURL = "/del"
        console.log(burgerID)
        $.ajax({
            type: 'POST',
            url: queryURL, 
            data: { id: burgerID },
        }).then(response => {
            location.reload()
        })
    });

</script>